name: C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-10 lcov
        echo "CC=gcc-10" >> $GITHUB_ENV
        echo "CXX=g++-10" >> $GITHUB_ENV
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Debug
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config Debug -- -j 2
    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -j 2
    - name: Coverage
      run: |
        lcov --directory . --capture --output-file lcov.info
        lcov --summary lcov.info


