name: C++ CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.13
        with:
          cmake-version: "3.18.4"
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++-10 lcov
          echo "CC=gcc-10" >> $GITHUB_ENV
          echo "CXX=g++-10" >> $GITHUB_ENV
      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Debug
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config Debug -- -j 2
      - name: Run unit tests
        working-directory: ${{github.workspace}}/build/test
        run: ./tester
      - name: Run code coverage
        run: |
          mkdir -p ${{github.workspace}}/coverage
          lcov --directory . --capture --output-file ${{github.workspace}}/coverage/lcov.info
          lcov --remove ${{github.workspace}}/coverage/lcov.info --output-file ${{github.workspace}}/coverage/lcov.info '/usr/include/*' '/usr/lib/*' '${{github.workspace}}/libs/csv-parser/*' '${{github.workspace}}/libs/json/*' '${{github.workspace}}/test/*' '${{github.workspace}}/libs/json/*' '${{github.workspace}}/src/*'
          lcov --summary ${{github.workspace}}/coverage/lcov.info
      - name: Very Good Coverage
        uses: VeryGoodOpenSource/very_good_coverage@v2
        with:
          path: "${{github.workspace}}/coverage/lcov.info"
          min_coverage: 80
      - name: Run integration tests
        uses: HorstBaerbel/action-ctest@1.1
        with:
          sourcedir: "."
          builddir: "ctest"
          cmakeoptions: "--config Release"
          ctestoptions: "--output-on-failure"
